h1{
    color: aqua;
}
h2{
    color: rgb(132, 58, 155);
}
code{
    color: blue;
    font-weight: bold;
    
}
h3{
    font-style: italic;
}

.gris{
    color:rgb(95, 95, 95);
    text-transform: uppercase;
}
.codei{
    color: rgb(6, 119, 40);
    font-weight: bold;
}
span{
    font-weight: bold;
}
.mihojas{
    color: rgb(255, 0, 0);
}